{% extends 'base.html' %}

{% block content %}
   <section class="container mt-2">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a href="{% url 'index' %}" class="navbar-brand">Passagem</a>
      </nav>
      <h1>Minha Consulta</h1>
      <p>Origem: {{form.origem.value}}</p>
      <p>Destino: {{form.destino.value}}</p>
      <p>Data ida: {{form.data_ida.value}}</p>
      <p>Data volta: {{form.data_volta.value}}</p>
      <p>Data da pesquisa: {{form.data_pesquisa.value}}</p>
      <p>Classe: {{form.classe_viagem.value}}</p>
      <p>Informações: {{form.informacoes.value}}</p>
      <p>Email: {{form.email.value}}</p>
   </section>
{% endblock %}